#configuration
PORT=5000
APP_NAME=NestAuth
FRONTEND_URL=http://localhost:3000
POSTGRES_USER=nest-user
POSTGRES_PASSWORD=nest-password
POSTGRES_DB=nest-auth-db
DATABASE_URL=postgresql://nest-user:nest-password@localhost:5432/nest-auth-db
CORS_ORIGIN=http://localhost:3000

# Gmail SMTP (use app password, not your real password)
GMAIL_USER=your-gmail-user
GMAIL_PASS=your-gmail-app-password

# JWT
JWT_SECRET=your-jwt-secret

# MQTT (Mosquitto broker)
MQTT_BROKER_URL=mqtt://localhost:1883
